@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #020617;
  color: #e2e8f0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  /* iPhone çentik/güvenli alan desteği */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
